
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login View</title>
</head>
<body>
    <div> 
        <h3>This is Login Page</h3>
    </div>
</body>
</html>
